.main-homepage {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

article {
    display: flex;
    gap: 30px;
}

.presentation {
display: grid;
}

.img-home {
    height: auto;
    width: 270px;
}