aside {
    display: flex;
    flex-direction: column;
}

.logo-header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: aquamarine; */
}

TopNavbar {
    background-color: brown;
}