#teameval-logo-header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 64px;
    /*border-bottom: 1px solid #e0e1e3;*/
}

header .top-navbar {
    justify-content: space-evenly;
}

header .session {
    justify-content: space-between;
}
